* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(35, 160, 35, 1);
}

.game-board {
    width: 100%;
    height: 80vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.game-board .day {
    background: linear-gradient(#87CEEB, #E0F6FF);
    width: 100%;
    height: 80vh;
    z-index: 1;
    position: absolute;
    opacity: 0;
    transition: 10s;
}

.game-board .morning {
    background: linear-gradient(#d150e2, #d28834);
    width: 100%;
    height: 80vh;
    z-index: 1;
    position: absolute;
    opacity: 0;
    transition: 10s;

}

.game-board .night {
    background: linear-gradient(#3439d2, #00326b);
    width: 100%;
    height: 80vh;
    z-index: 1;
    position: absolute;
    opacity: 0;
    transition: 10s;


}

.score-box {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    display: block;
    position: absolute;
    top: 10px;
    right: 15px;
    text-align: center;
    text-shadow: 1px 1px 5px #00000070;
    z-index: 2;

}

.btn-start {
    display: block;
    margin: auto;
    top: calc(50vh - 50px);
    border: none;
    background-color: #ff2626;
    left: calc(50% - 16.5%);
    color: #fff;
    position: absolute;
    font-weight: 700;
    width: 33%;
    cursor: pointer;
    height: 60px;
    border-radius: 10px;
    font-size: 20px;
    z-index: 2;

}


.btn-start:hover {background-color: #cd2222}

.btn-start:active {
  background-color: #cd2222;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.pipe {
   position: absolute;
   bottom: 0px;
   right: -80px;
   width: 40px;
   height: 40px;
   z-index: 2;
}

.pipe.active {
    animation: pipe-animation 1.5s infinite linear;
}

.mario {
    position: absolute;
    width: 75px;
    bottom: 0;
    z-index: 2;
}

.clouds {
    position: absolute;
    top: 10px;
    width: 250px;
    animation: clouds-animation 20s infinite linear;
    z-index: 2;

}

.jump {
    animation: jump 500ms ease-out;
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 100px;
    }

    50% {
        bottom: 100px;
    }

    60% {
        bottom: 100px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -250px;
    }

    to {
        right: 100%;
    }
}

@media screen and (min-width: 768px) {

    .btn-start {
        font-size: 40px;
    }
    
    .pipe {
        bottom: 0px;
        width: 80px;
        height: 80px;
    } 

    .mario {
        width: 150px;
        bottom: 0;
    }

    .clouds {
        top: 30px;
        width: 550px;
    }

    @keyframes jump {
        0% {
            bottom: 0;
        }

        40% {
            bottom: 180px;
        }

        50% {
            bottom: 180px;
        }

        60% {
            bottom: 180px;
        }

        100% {
            bottom: 0;
        }
    }

    @keyframes clouds-animation {
        from {
            right: -550px;
        }

        to {
            right: 100%;
        }
    }
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}
